#design {
  width: 1080px;
  height: 1920px;
}

#background {
  width: 1080px;
  height: 1920px;
  flex-shrink: 0;
  fill: #0e0101;
  z-index: 0;
  position: absolute;
}

#authorImage {
  width: 1080px;
  height: 900px;
  flex-shrink: 0;
  position: absolute;
  top: 1028px;
  margin-left: 0px;
  z-index: 1;
}

#quotes {
  height: 70px;
  flex-shrink: 0;
  position: absolute;
  top: 95px;
  margin-left: 30px;
  z-index: 1;
}

#enquotes {
  height: 70px;
  flex-shrink: 0;
  position: absolute;
  top: 730px;
  margin-left: 900px;
  z-index: 1;
}

#text {
  display: flex;
  width: 798px;
  height: 727px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ede3e3;
  text-align: center;
  font-family: Kite One;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  z-index: 2;
  left: 115px;
  top: 100px;
}

#author {
  display: flex;
  width: 798px;
  height: 527px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ede3e3;
  text-align: center;
  font-family: Kite One;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  z-index: 2;
  left: 100px;
  top: 650px;
}

#mybutton {
  position: absolute;
  top: 2000;
}
